<center>
    <a href='dataframes_series.ipynb'> << Previous</a> &nbsp; | &nbsp; 
    <a href='main.ipynb'>Table of contents</a> &nbsp; | &nbsp; 
    <a href='combining.ipynb'>Next >></a>
</center>

# 6. Selecting one or more Series in a Dataframe

`import pandas as pd`

`df = pd.read_csv('data/ufo.csv')
df`

## Selecting by using square brakets [...]
- The column name must be spelled exactly as it is shown in the DataFrame
- Must use this option when column name has two or more words separated by spaces  

`df['City']`

## Selecting by using dot notation
- The column name must be spelled exactly as it is shown in the DataFrame
- Can't be used when column name has two or more words separated by spaces
- Can't be used when a column to be accessed has the same name as one of the DataFrame methods or attributes

`df.City`

## Selecting two or more Series at once  
`df[['City','State']]`  
`type(df[['City','State']])`

<center>
    <a href='dataframes_series.ipynb'> << Previous</a> &nbsp; | &nbsp; 
    <a href='main.ipynb'>Table of contents</a> &nbsp; | &nbsp; 
    <a href='combining.ipynb'>Next >></a>
</center>