<center>
    <a href='filtering.ipynb'> &lt;&lt; Previous</a> &nbsp; | &nbsp; 
    <a href='main.ipynb'>Table of contents</a> &nbsp; | &nbsp; 
    <a href='groupby.ipynb'>Next &gt;&gt;</a>
</center>

# 12. String handling and changing data types in Series  

You can find these and much more string methods by looking at the pandas documentation:  
https://pandas.pydata.org/pandas-docs/version/0.22/api.html#string-handling

`import pandas as pd`  
`df = pd.read_table('http://bit.ly/chiporders')`  
`df.head()`

## Changing the case of values in a Series

### Changing all values to upper case  

`df['item_name'].str.upper()`

### Changing all values to lower case  

`df['item_name'].str.lower()`

### Changing the string values to make only the first letter of each word upper case  

`df['item_name'].str.title()`

## Finding the rows that contains a specific string  

### Getting the Series result from the operation  

`df['item_name'].str.contains('Veggie')`

### Getting a DataFrame visualization based on the condition  

`df[df['item_name'].str.contains('Veggie')]`

## Replacing characters  

Let's take a practical example when you would want to replace a character. Looking at the item_price column, we can see that it has the dollar sign together with the price as values. This indicates that the values in this column must be of 'object' type, which doesn't allow us to perform calculations.

`df.dtypes`

`df['item_price'].str.replace('$', '')`

Luckly, there's a Series method to convert data types called Series.astype(). But before use it we have to first remove the dollar sign from the column values.  

`new_col_price = df['item_price'].str.replace('$', '')`  
`new_col_price`

Now we can call the Series.astype() method.  

`new_col_price = new_col_price.astype('float')`  
`new_col_price`

Finally, we can replace the item_price column by the new Series with the float data type.  

`df['item_price'] = new_col_price`  
`df.dtypes`

<center>
    <a href='filtering.ipynb'> &lt;&lt; Previous</a> &nbsp; | &nbsp; 
    <a href='main.ipynb'>Table of contents</a> &nbsp; | &nbsp; 
    <a href='groupby.ipynb'>Next &gt;&gt;</a>
</center>